@import "../../../../../styles";

.tag-input {
  height: height(input);
  position: relative;
  width: 100%;
}

.tags {
  width: 100%;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 16px 0;
  border: solid 1px color(grey-shade);
  box-sizing: border-box;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding: 16px 0;
}

.tag {
  height: 48px;
  box-sizing: border-box;
  padding: 0 22px;
}
