<div class="tag-input">
  <app-form-input [label]="'tags'"
                  [placeholder]="'Add tags that you like...'"
                  [withSuggestions]="true"
                  [value]="_result"
                  [readonly]="true"
                  [highlighted]="focused"
                  (clear)="clear()"></app-form-input>

  <form *ngIf="tagsFormGroup && focused" class="tags" [formGroup]="tagsFormGroup">
    <div class="row">
      <div *ngFor="let tag of tags" class="col-md-6 col-sm-12">
        <div class="tag flex--align-center">
          <app-checkbox [label]="tag" [formControlName]="tag"></app-checkbox>
        </div>
      </div>
    </div>
  </form>
</div>
