<div class="category-input">
  <app-form-input [label]="'Categories'"
                  [placeholder]="'Add categories...'"
                  [withSuggestions]="true"
                  [value]="_result"
                  [readonly]="true"
                  [highlighted]="focused"
                  (focus)="focused = true"
                  (clear)="clear()"></app-form-input>

  <div *ngIf="focused && groups" class="categories">
    <app-category-selection [groups]="groups" [selected]="_categories" (select)="onSelection($event)"></app-category-selection>
  </div>
</div>
