@import "../../../../../styles";

.category-input {
  height: height(input);
  position: relative;
  z-index: 1;
}

.categories {
  max-height: 400px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 16px 0;
  border: solid 1px color(grey-shade);
  box-sizing: border-box;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding: 16px 0;
  overflow-y: scroll;
}
