<div class="page-padding footer">
  <div class="row no-padding-on-small no-margin-on-small">
    <div class="col-xs-6 col-lg-3">
      <div class="column flex flex--dir-col">
        <p class="title">{{'footer.contacts' | translate | async}}</p>

        <a class="item" href="https://facebook.com" target="_blank">
          {{'footer.facebook' | translate | async}}
        </a>
        <a class="item" href="https://instagram.com" target="_blank">
          {{'footer.instagram' | translate | async}}
        </a>
        <a class="item" href="https://gmail.com" target="_blank">
          {{'footer.mail' | translate | async}}
        </a>
      </div>
    </div>

    <div class="col-xs-6 col-lg-3">
      <div class="column flex flex--dir-col">
        <p class="title">{{'footer.call_center' | translate | async}}</p>

        <a class="item">
          575 20 80 30
        </a>
        <a class="item">
          (0322) 22 22 22
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-lg-6">
      <div class="column flex flex--align-center flex--justify-flex-end">
        <h5 class="header__title cursor--pointer"
            [routerLink]="['/']">
          {{'header.title' | translate | async}}
        </h5>
      </div>
    </div>
  </div>
</div>
