<div>
  <ngx-hm-carousel
    [(ngModel)]="currentIndex"
    [autoplay]="true"
    [autoplay-speed]="5000"
    [infinite]="true"
    [between-delay]="0"
    [mourse-enable]="true"
    [drag-many]="true"
    [aniTime]="400"
    [data]="images"
    [show-num]="1"
    class="carousel c-accent">

    <section ngx-hm-carousel-container class="content">
      <article class="item cursor-pointer"
               ngx-hm-carousel-item
               *ngFor="let image of images; let i = index"
               [ngClass]="{'visible': currentIndex===i}">
        <div class="img" [style.backgroundImage]="'url('+image+')'"></div>
      </article>
      <ng-template #infiniteContainer></ng-template>
    </section>

    <!-- only using in infinite mode or autoplay mode, that will render with-->
    <ng-template #carouselContent let-image let-i="index">
      <article class="item cursor-pointer"
               [ngClass]="{'visible': currentIndex===i}">
        <div class="img" [style.backgroundImage]="'url('+ image +')'"></div>
      </article>
    </ng-template>

    <ng-template #carouselDot let-model>
      <div class="ball bg-accent"
           [class.visible]="model.index === model.currentIndex"></div>
    </ng-template>

    <ng-template #carouselProgress let-progress>
      <div class="progress"></div>
    </ng-template>

  </ngx-hm-carousel>

</div>
