<div class="notification elevated"
     [ngClass]="{
     'notification--success': notification.type === AppNotificationType.success,
     'notification--error': notification.type === AppNotificationType.error
     }">
  <div class="notification__header"></div>
  <div class="notification__body flex--align-center">
    <div *ngIf="notification.type === AppNotificationType.success">
      <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-e</title><path d='M256,48C141.31,48,48,141.31,48,256s93.31,208,208,208,208-93.31,208-208S370.69,48,256,48ZM364.25,186.29l-134.4,160a16,16,0,0,1-12,5.71h-.27a16,16,0,0,1-11.89-5.3l-57.6-64a16,16,0,1,1,23.78-21.4l45.29,50.32L339.75,165.71a16,16,0,0,1,24.5,20.58Z'/></svg>
    </div>
    <div *ngIf="notification.type === AppNotificationType.error">
      <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>ionicons-v5-m</title><path d='M256,48C141.31,48,48,141.31,48,256s93.31,208,208,208,208-93.31,208-208S370.69,48,256,48Zm75.31,260.69a16,16,0,1,1-22.62,22.62L256,278.63l-52.69,52.68a16,16,0,0,1-22.62-22.62L233.37,256l-52.68-52.69a16,16,0,0,1,22.62-22.62L256,233.37l52.69-52.68a16,16,0,0,1,22.62,22.62L278.63,256Z'/></svg>
    </div>
    <p>{{notification.message}}</p>
  </div>

  <div *ngIf="hasOptions" class="notification__footer flex--align-center">
    <ng-container *ngIf="notification.config.offerRefresh">
      <p><span class="highlighted" (click)="refresh()">Refresh</span> page to see changes</p>
    </ng-container>
  </div>
</div>
