@import "../../../../../../styles";

.notification {
  width: 100%;
  border-radius: $border-radius-medium;
  background-color: #C6C6C6;

  &--success {
    .notification__body svg {
      fill: color(success);
    }
  }

  &--error {
    .notification__body svg {
      fill: color(error);
    }
  }

  &__header {

  }

  &__body {
    padding: 22px;

    svg {
      height: 24px;
      width: 24px;
      margin-right: 22px;
    }
  }

  &__footer {
    padding: 0 22px 22px 22px;
    font-size: 12px;
  }
}

.highlighted {
  cursor: pointer;
  color: color(brand-main);
}
