$padding: (

);

$height: (
  header: 80px,
  button: 42px,
  input: 70px,
  medium-input: 56px,
);

$border-radius: 12px;
$border-radius-medium: 8px;
$border-radius-small: 4px;

$modal-width: 700px;

$z-index-header: 5;
$z-index-notifications: 5;
$notifications-width: 250px;
